
.nav-brand{
    font-family: 'BioRhyme', serif;
    font-weight: 900 !important;
    font-size: xx-large !important;
    animation-name: blink;
    animation-timing-function: ease-in-out;
    animation-duration: 1s;
    background-image:linear-gradient(-45deg,var(--gradient));
    background-clip:text;/*this usually doesnt work in chrome so we need to use webkit*/ 
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-right: 1rem;
    font-weight: 500;
    color: aliceblue !important;

}
.nav{
    justify-content: space-between !important;
}
.navbar{
   background-color: black !important;
   padding: 1rem 1rem !important;
}
@keyframes blink{
    0%{
       opacity: 0;
    }
    50%{
       opacity: 0.5;;
    }
    60%{
       opacity: 0;
    }
    70%{
       opacity: 0.6;
    }
    80%{
       opacity: 0;
    }
    90%{
       opacity: 0.7;
    }
    95%{
       opacity: 0;
    }
    100%{
       opacity: 1;
    }
    
}